////////////
// colors //
////////////

yellowDefault = #fce38a
grayDefault = #999
limeDefault = #95e1d3
limeLigth = blend(rgba(#fff, 30%), limeDefault)
redDefault = #f38181
darkGray = #333
lightGrayDefault = #f8f8f8
lightnessGray = #e5e5e5
grayFooterText = #ccc

deafualtGradientFrom = #efd889 
deafualtGradientTo = #ea8a83
deafualtGradient = linear-gradient(to top, deafualtGradientFrom, deafualtGradientTo)


////////////
// fonts ///
////////////

KaushanScript = "Kaushan Script"
MainText      = "Montserrat"
BasicText     = "Roboto"
CaptionText   = 14px MainText


////////////
/// sizes //
////////////

minContentWidth = 1210px
maxContentWidth = 1920px

/////////////
// z-index //
/////////////

$z-index-overlay = 1