.button
  font 10pt Montserrat
  text-align center
  line-height 40px
  size(150px, 40px)
  display block
  margin 0 auto
  cursor pointer

  &__white
    border 2pt solid #fff
    width 160px
    transition: all .2s ease-in

    &:hover
      color yellowDefault
      background #fff
