.unique-design
  position relative
  padding-top 105px
  opacity-mask("../images/jpg/bg_forest.jpg")


  .block-with-devices
    position relative
    left 33px
    margin 0 auto
    width 597px
    height 583px

    .iPad-img
      width 477px
      height 583px
      overflow hidden

      img
        width 477px

    .iPhone-img
      width 209px
      height 437px
      position absolute
      right 0
      bottom -50px


      img
        width 209px
        height 437px