-
  var header = {
    description: 'What we do',
    name:'STORY ABOUT US',
    note:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat'
  }

.about-us#about
  +sectionHeader(header)
  .about-us__images
    .img-container
      img(src="../assets/images/jpg/super_team.jpg")
      .hover-icon super team
    .img-container
      img(src="../assets/images/jpg/table_with_iphone.jpg")
      .hover-icon super team
    .img-container
      img(src="../assets/images/jpg/green_plant.jpg")
      .hover-icon super team
  .about-us__footer
    ul
      li
        p 42
        p WEB DESIGN PROJECT
      li 
        p 123
        p HAPPY CLIENT
      li 
        p 15
        p AWARD WINNER
      li
        p 99
        p CUP OF COFFEE
      li
        p 24
        p MEMBERS