
.contacts-block#contact
  .contacts-block__map
    .contacts-block__map-description
      img(src="../assets/images/svg/pin2.svg")
      span open map
  .contacts-block__social-networks
    .contacts-block__subscribe
      .about
        h4.about__header MoGo
        p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      .follow-us
        .count-followers
          span.counter 15k
          span.text-counter followers
        .follow-links
          span Follow Us:
          a.soc-network
            img(src="../assets/images/svg/facebook_foo.svg")
          a.soc-network
            img(src="../assets/images/svg/twitter_foo.svg")
          a.soc-network
            img(src="../assets/images/svg/instagram_foo.svg")
          a.soc-network
            img(src="../assets/images/svg/pinterest_foo.svg")
          a.soc-network
            img(src="../assets/images/svg/googleplusv_foo.svg")
          a.soc-network
            img(src="../assets/images/svg/youtube_foo.svg")
          a.soc-network
            img(src="../assets/images/svg/dribbble_foo.svg")
          a.soc-network
            img(src="../assets/images/svg/tumblr_foo.svg")
        .subscription-form
          input(type="text" name="subscribe" class="subscribe-area" placeholder="    Your Email...")
          input(type="submit" name="button" class="button-foo" value="subscribe")
    .contacts-block__blogs
      h4.header-blog blogs
      .post-blogs
        img.pict-blog(src="../assets/images/jpg/pict1_for_blogs.jpg")
        .text-block
          p.text-blog Lorem ipsum dolor sit amet, consectetur adipiscing
          p.date-blog Jan 9, 2016
      .post-blogs
        img.pict-blog(src="../assets/images/jpg/pict2_for_blogs.jpg")
        .text-block
          p.text-blog Consectetur adipiscing elit, sed do eiusmod tempor
          p.date-blog Jan 9, 2016
      .post-blogs
        img.pict-blog(src="../assets/images/jpg/pict3_for_blogs.jpg")
        .text-block
          p.text-blog Sed do eiusmod tempor incididunt ut labore
          p.date-blog Jan 9, 2016
    .contacts-block__instagram
      h4.header-blog instagram 
      .photo-from-inst
        img.inst(src="../assets/images/jpg/pict_inst1.jpg")
        img.inst(src="../assets/images/jpg/pict_inst2.jpg")
        img.inst(src="../assets/images/jpg/pict_inst3.jpg")
        img.inst(src="../assets/images/jpg/pict_inst4.jpg")
        img.inst(src="../assets/images/jpg/pict_inst5.jpg")
        img.inst(src="../assets/images/jpg/pict_inst6.jpg")
        img.inst(src="../assets/images/jpg/pict_inst7.jpg")
        img.inst(src="../assets/images/jpg/pict_inst8.jpg")
        img.inst(src="../assets/images/jpg/pict_inst9.jpg")
      span.view-inst View more photos
  .contacts-block__footer-copyrights
    p.foo-text © 2016 MoGo free PSD template by 
      span Laaqiq