-
  var header = {
    description: 'Our stories',
    name: 'latest blog',
  }

.latest-blog#blog
  +sectionHeader(header)
  .latest-blog__blocks
    .latest-blog__content
      img.photo(src="../assets/images/jpg/girl_onthe_table.jpg")
      .date-icon
        p.num 15
        p.month Jan
      .text-block
        p.theme Lorem ipsum dolor sit amet
        p.text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .views_comments-block
        img.views(src="../assets/images/svg/view.svg")
        p.__counter 542
        img.comments(src="../assets/images/svg/speech_bubble2.svg")
        p.__counter 17
    .latest-blog__content
      img.photo(src="../assets/images/jpg/table_mac_cup.jpg")
      .date-icon
        p.num 14
        p.month Jan
      .text-block
        p.theme sed do eiusmod tempor
        p.text Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .views_comments-block 
        img.views(src="../assets/images/svg/view.svg")
        p.__counter 992
        img.comments(src="../assets/images/svg/speech_bubble2.svg")
        p.__counter 42
    .latest-blog__content
      img.photo(src="../assets/images/jpg/man_with_ipad.jpg")
      .date-icon
        p.num 12
        p.month Jan
      .text-block
        p.theme incididunt ut labore et dolore
        p.text Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .views_comments-block 
        img.views(src="../assets/images/svg/view.svg")
        p.__counter 1560
        img.comments(src="../assets/images/svg/speech_bubble2.svg")
        p.__counter 98