.main-block
  header
    .logotype MoGo
    nav.menu
      a(href="#about").menu__item._active ABOUT
      a(href="#service").menu__item SERVICE
      a(href="#work").menu__item WORK
      a(href="#blog").menu__item BLOG
      a(href="#contact").menu__item CONTACT
      a.shopping-cart(href="#cart")
        +svgIcon("shopping-cart")
      a.magnifying-glass(href="#search")
        +svgIcon("magnifying-glass")
  div.main-title
    h1 Creative Template
    h2 WELCOME TO MOGO
    .dash
    a.button.button__white LEARN MORE
  nav.slider
      a
        p 01 
          span intro
      a
        p 02 
          span work
      a
        p 03 
          span about
      a
        p 04 
          span contacts
