-
  var header = {
    description: 'For all devices',
    name: 'unique design'
  }
.unique-design
  +sectionHeader(header)
  .block-with-devices
    .iPad-img
      img(src="../assets/images/png/display_ipad.png") 
    .iPhone-img
      img(src="../assets/images/png/display_iphone.png")