-
  var header = {
    description: 'Happy clients',
    name: 'what people say',
  }

.what_people_say
  +sectionHeader(header)
  .comments_people
      .person-block
        img.avatar(src="../assets/images/png/avatar1.png")
        .about-person
          p.name Matthew Dix
          p.position Graphic Design
          p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
      .person-block
        img.avatar(src="../assets/images/png/avatar3.png")
        .about-person
          p.name Nick Karvounis
          p.position Graphic Design
          p.text Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      .person-block
        img.avatar(src="../assets/images/png/avatar2.png")
        .about-person
          p.name Jaelynn Castillo 
          p.position Graphic Design
          p.text Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      .person-block
        img.avatar(src="../assets/images/png/avatar4.png")
        .about-person
          p.name Mike Petrucci
          p.position Graphic Design
          p.text Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
    
      
      
