doctype html
html
  head
    include ./includes/head.pug
  body
    include ./mixins/section-header.pug
    include ./mixins/svg-icon.pug

    include ./includes/main_block.pug
    include ./includes/about_us.pug
    include ./includes/amazing_serv.pug
    include ./includes/unique_design.pug
    include ./includes/what_we_do.pug
    include ./includes/meet_our_team.pug
    include ./includes/some_of_our_work.pug
    include ./includes/what_people_say.pug
    include ./includes/latest_blog.pug
    include ./includes/contacts_block.pug
